In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('SPARTA MOOCs Detailed Timeline.xlsx', sheet_name='Input')

In [3]:
df

,Course,Tasks,Target Start Date,Target End Date,Actual Start Date,Actual End Date,Status,Remarks
0,Getting Grounded on Analytics,SME Onboarding,2019-11-25,2019-12-06,2019-11-25,2019-12-06,Completed,NaN
1,Getting Grounded on Analytics,Documentary Requirements Completion,2019-11-29,2019-12-19,2019-12-12,2019-12-19,Completed,NaN
2,Getting Grounded on Analytics,Video Content Production Shoots,2019-12-20,2020-01-07,2019-12-20,2020-01-20,Completed,NaN
3,Getting Grounded on Analytics,Video Content Post-production,2020-01-08,2020-01-31,2019-12-23,2020-01-24,Completed,NaN
4,Getting Grounded on Analytics,Beta Testing,2020-02-03,2020-02-14,2020-01-20,2020-01-24,Completed,NaN
...,...,...,...,...,...,...,...,...
121,Analytics Applications in Finance and Risk,Documentary Requirements Completion,2020-06-01,2020-06-22,NaT,NaT,Not Started,NaN
122,Analytics Applications in Finance and Risk,Video Content Production Shoots,2020-06-23,2020-07-06,NaT,NaT,Not Started,NaN
123,Analytics Applications in Finance and Risk,Video Content Post-production,2020-07-07,2020-07-30,NaT,NaT,Not Started,NaN
124,Analytics Applications in Finance and Risk,Beta Testing,2020-08-03,2020-08-14,NaT,NaT,Not Started,NaN
125,Analytics Applications in Finance and Risk,Launch,2020-08-17,2020-08-19,NaT,NaT,Not Started,NaN