In [1]:
import pandas as pd

In [2]:
xl = pd.ExcelFile(r"calculation_sheet.xlsx")
df = xl.parse("Sheet1")

In [3]:
df

     a   b   c  a+b  a+c  ma_a  ma_b
0    3   1  10    4   11   NaN   NaN
1    5   7   7   12   14   4.0   4.0
2   10   7   8   17   15   7.5   7.0
3    2   9   1   11   10   6.0   8.0
4    3   5   9    8   14   2.5   7.0
5    8  10   9   18   19   5.5   7.5
6    1   1   7    2    8   4.5   5.5
7    1   4   1    5    5   1.0   2.5
8    2  10   9   12   19   1.5   7.0
9    5   3   6    8    9   3.5   6.5
10   1   6   7    7   13   3.0   4.5
11   1   4   2    5    6   1.0   5.0
12   7   1   9    8   10   4.0   2.5
13   9   8  10   17   18   8.0   4.5
14   9  10   4   19   14   9.0   9.0
15   2   3   6    5    9   5.5   6.5
16   3   7   1   10    8   2.5   5.0
17   4   9   5   13   14   3.5   8.0
18   2   8   3   10   11   3.0   8.5
19  10   3   5   13    8   6.0   5.5
20   7   5   2   12    7   8.5   4.0
21   5   6   5   11   11   6.0   5.5
22   6   4   4   10    8   5.5   5.0